/* STYLING FOR THE NAVBAR SECTION STARTS HERE */
.menu{
    background-color:  #EEECE5 ;
}

.explore{
    position: relative;
    left: 35%;
}

.about{
    position: relative;
    left: 40%;
}

.contact{
    position: relative;
    left: 45%;
}
#cart-icon-container{
    position: relative;
    right: 25px;
}

#cart-icon{
    width: 32px;
    height: 32px;
}

#cart-number{
    position: absolute;
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
}
/* STYLING FOR THE NAVBAR SECTION ENDS HERE */

/* STYLING FOR THE HERO SECTION STARTS HERE */
.hero-images{
    height: 90vh;
    object-fit: cover;
    object-position: top;
}

#last{
    object-position: center;
}

.hero-caption{
 
    
}

.hero-caption h3{
    font-size: 5rem;
    position: relative;
    bottom: 150px;
}

.hero-caption p{
    position: relative;
    bottom: 100px;
    font-size: 32px;
    font-style: italic;
}

@media screen and (max-width: 576px){
    .hero-caption h3{
        font-size: 2.5rem;
    }
    .hero-caption p{
        bottom: 25px;
    }
}
/* STYLING FOR THE HERO SECTION ENDS HERE */

/* STYLING FOR THE TOP PICKS SECTION STARTS HERE */
.card{
  
}

#first-btn{
    position: relative;
    bottom: 45%;
}

.shop-btn{
    position: relative;
    bottom: 25%;
    left: 25%;
    
    padding: 20px;
    width: 45%;

}
/* STYLING FOR THE TOP PICKS SECTION ENDS HERE */

.sculpt{
    position: relative;
    bottom: 40%;
}