.menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #EFEEEA;
    display: flex;
    z-index: 10;
} 

#logo{
    position: absolute;
    left: 8%;
    top: 0;
    font-size: 24px;
    font-weight: normal;
}

#home{
    position: absolute;
    left: 35%;
    top: 15px;
}

#explore{
    position: absolute;
    left: 40%;
    top: 15px;
}

#about{
    position: absolute;
    left: 45%;
    top: 15px;
}

#contact{
    position: absolute;
    left: 50%;
    top: 15px;
}

#cart{
    position: absolute;
    left: 88%;
    top: 25px;
}

#cart-number{
    width: 16px;
    height: 16px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    right: 0;
}

#cart img{
    width: 25px;
    height: 25px;
}

#search{
    position: absolute;
    left: 92%;
    top: 25px;
    width: 20px;
    height: 20px;
}

#hero-img{
    width: 100%;
    height: 90vh;
    background: url(./images/hero-image.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 80px;

}

#hero-text{
    padding-top: 10%;
    height: 78%;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: left;
    color: aliceblue;
    font-size: 100px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 110px;
    margin: 17px 0 49px;
    position: relative;
    left: 10%;

}

#top-picks{
    width: 100%;
    height: 40%;
    display: grid;
    display: -ms-grid;
    position: absolute;
    top: 100%;

}

#top-picks-heading{
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-left: 10%;

}

#top-picks-images{
    position: relative;
    left: 5%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}


#top-picks-images div{
    margin: 15px;    
    width: 520px;
    height: 610px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;

}

#top-picks-images div button{
    margin: auto;
    width: 180px;
    height: 60px;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
}

#paintings{
    position: absolute;
    top: 180%;
    display: grid;
    width: 100%;
    height: auto;
}

#paintings-heading{
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10%;
}

#paintings-thumbnail{
    width: 95%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    position: relative;
    left: 5%;
    grid-row-gap: 30px ;

}
#paintings-thumbnail div{
    width: 400px;
    height: 450px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    
}

.overlay-div .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    
}

.overlay-div .overlay .overlay-stars{
    display: flex;
    width: fit-content;
    height: 25px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    
}

#price-overlay{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    z-index: 1;
    display: none;
}

.overlay-div .overlay .overlay-stars img{
    width: 24px;
    height: 24px;
    margin: 5px;
}

.overlay-div .overlay:hover{
    background-color: rgba(0,0,0,0.3);
}

#sculptures{
    position: absolute;
    top: 295%;
    display: grid;
    width: 100%;
    height: auto;
}

#sculptures-heading{
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10%;
}

#sculptures-thumbnail{
    width: 95%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    position: relative;
    left: 5%;
    grid-row-gap: 30px ;

}
#sculptures-thumbnail div{
    width: 400px;
    height: 450px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    
}

footer{
    position: absolute;
    bottom: -390%;
    width: 100%;
    height: 500px;
    background-color: #000;
    display: flex;
}