
#top-picks{
    width: 100%;
    height: 40%;
    display: grid;
    display: -ms-grid;
    position: absolute;
    top: 100%;

}

#top-picks-heading{
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-left: 10%;

}

#top-picks-images{
    position: relative;
    left: 5%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}
 

#top-picks-images div{
    margin: 15px;    
    width: 520px;
    min-width: 320px;
    height: 610px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;

}

#top-picks-images div button{
    margin: auto;
    width: 180px;
    height: 60px;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
}






#paintings{
    position: absolute;
    top: 180%;
    display: grid;
    width: 100%;
    height: auto;
}

#paintings-heading{
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10%;
}

#paintings-thumbnail{
    width: 95%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    position: relative;
    left: 5%;
    grid-row-gap: 30px ;

}
#paintings-thumbnail div{
    width: 520px;
    min-width: 360px;
    height: 450px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    
}

.overlay-div .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    
}

.overlay-div .overlay .overlay-stars{
    display: flex;
    width: fit-content;
    height: 25px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    
}

#price-overlay{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    z-index: 1;
    display: none;
}

.overlay-div .overlay .overlay-stars img{
    width: 24px;
    height: 24px;
    margin: 5px;
}

.overlay-div .overlay:hover{
    background-color: rgba(0,0,0,0.3);
}

#sculptures{
    position: absolute;
    top: 295%;
    display: grid;
    width: 100%;
    height: auto;
}

#sculptures-heading{
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10%;
}

#sculptures-thumbnail{
    width: 95%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    position: relative;
    left: 5%;
    grid-row-gap: 30px ;

}
#sculptures-thumbnail div{
    width: 520px;
    min-width: 360px;
    height: 450px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    
}

footer{
    position: absolute;
    bottom: -390%;
    width: 100%;
    height: 500px;
    background-color: #000;
    display: flex;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #top-picks-heading{
        width: 100%;
        text-align: center;
    }
 
    #top-picks-images{
        display: grid;
 
    }

    #paintings{
        top: 340%;
    }

    #sculptures{
        top: 600%;
    }

    footer{
        top: 850%;
        width: 140vw;
    }
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     #top-picks-heading{
         width: 100%;
         text-align: center;
     }
     #top-picks-images{
         display: grid;
         
     }

     #paintings{
         top: 340%;
     }


    #sculptures{
        top: 600%;
    }

    footer{
        top: 850%;
        width: 140vw;
    }

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     #top-picks-heading{
         width: 100%;
         text-align: center;
     }
     #top-picks-images{
         display: grid;
         
     }

     #paintings{
         top: 340%;
     }


    #sculptures{
        top: 600%;
    }

    footer{
        top: 850%;
        width: 140vw;
    }
 }
 
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     #top-picks-heading{
         width: 400px;
         text-align: left;
        
     }
 
     #top-picks-images{
         display: flex;
         
     }
     #paintings{
         top: 300%;
     }


    #sculptures{
        top: 600%;
    }

    footer{
        top: 850%;
        width: 140vw;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     #top-picks-heading{
         width: 400px;
         text-align: left;
     
     }
 
     #top-picks-images{
         display: flex;
         
     }

     #paintings{
         top: 185%;
     }


    #sculptures{
        top: 305%;
    }

    footer{
        top: 440%;
        width: 100%;
    }
 }


 /* media queries for the height aspect ratio */

 @media only screen and (max-height: 750px){
     #hero-img{
         width: 100%;
     }
     #paintings{
         top: 420%;
     }

     #sculptures{
         top: 740%;
     }

     footer{
         top: 1205%;
         width: 160%;
     }
 }