.menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #EFEEEA;
    display: flex;
    z-index: 10;
} 

#logo{
    position: absolute;
    left: 8%;
    top: 0;
    font-size: 24px;
    font-weight: normal;
}

#home{
    position: absolute;
    left: 30%;
    top: 15px;
    cursor: pointer;
}

#explore{
    position: absolute;
    left: 40%;
    top: 15px;
    cursor: pointer;
}

#explore::after{
    content: url(./images/drop-down-arrow.png);
    position: relative;
    left: 5px;
    top: 2.5px;
}

#about{
    position: absolute;
    left: 50%;
    top: 15px;
    cursor: pointer;
}

#contact{
    position: absolute;
    left: 60%;
    top: 15px;
    cursor: pointer;
}


#cart{
    position: absolute;
    left: 88%;
    top: 25px;
    cursor: pointer;
}

.cart-number{
    width: 16px;
    height: 16px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    right: 0;
}

#cart img{
    width: 25px;
    height: 25px;
}

#search{
    position: absolute;
    left: 92%;
    top: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#menu-icon{
    position: absolute;
    left: 92%;
    top: 25px;
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
}

#drop-menu-list{
    position: relative;
    top: 80px;
    width: 100%;
    height: 95vh;

    background-color: #EFEEEA;
    grid-row-gap: 0;
}

#drop-menu-list p{
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: black;

}

#cart-search{
    display: grid;
    width: 32px;
    position: relative;

left: 45%;
}

#cart-icon{
    position: absolute;
    width: 40px;
    height: 40px;
}

#cart-search div{
    position: absolute;
    left: 35px;
    width: 20px;
    height: 20px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #menu-icon{
        display: block;
    }
    #home{
      display: none;
    }
    
    #explore{
        display: none;
    }
    
    #about{
        display: none;
    }
    
    #contact{
        display: none;
    }
    
    
    #cart{
        display: none;
    }
    
    
    #search{
        display: none;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #menu-icon{
        display: block;
    }
    #home{
        display: none;
      }
      
      #explore{
          display: none;
      }
      
      #about{
          display: none;
      }
      
      #contact{
          display: none;
      }
      
      
      #cart{
          display: none;
      }
      
      
      #search{
          display: none;
      }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #menu-icon{
        display: none;
    }
    #home{
        display: block;
      }
      
      #explore{
          display: block;
      }
      
      #about{
          display: block;
      }
      
      #contact{
          display: block;
      }
      
      
      #cart{
          display: block;
      }
      
      
      #search{
          display: block;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #menu-icon{
        display: block;
    }

    #home{
        display: block;
      }
      
      #explore{
          display: block;
      }
      
      #about{
          display: block;
      }
      
      #contact{
          display: block;
      }
      
      
      #cart{
          display: block;
      }
      
      
      #search{
          display: block;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #menu-icon{
        display: none;
    }
    #home{
        display: block;
      }
      
      #explore{
          display: block;
      }
      
      #about{
          display: block;
      }
      
      #contact{
          display: block;
      }
      
      
      #cart{
          display: block;
      }
      
      
      #search{
          display: block;
      }
}